
body {
    margin: 2px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: black;
    background: white;
}

a {
    color: #1b6acb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
